.container {
    min-width: 930px;
    max-width: 970px;
    width: 100%;

}

#top-bar{
  background: #F7F7F7;
}

#second-bar{
  padding-top: 15px;
}

.sections{
    margin-left: -40px;
    margin-top: 8px;
}

.sections>ul li{
  display: inline-block;
  margin-right: 15px;
}

.sections>ul li:last-child{
  margin-right: 0px;
}

.sections>ul li a{
  color: #333;
  text-decoration:none;
}

.sections>ul li a:hover{
  color: blue;
}

.auth-btn{
  margin-top: 8px;
  text-align: right;
}

.auth-btn>ul li{
  display: inline-block;
  margin-right: 15px;
}

.auth-btn>ul li:last-child{
  margin-right: 0px;
}

.auth-btn>ul li a{
  color: #333;
  text-decoration:none;
}

.sign-up{
  background:#ffcb34;
  padding: 7px 7px;
  border-radius: 5px;
}

.city select{
  border: none;
  outline: 0;
  margin-top: 8px;
}

.logo img{
  padding-bottom: 15px;
  padding-top: 15px;
}

.search-nav{
  padding-top: 15px;
}

.search-bar {
  width: 80%;
  height: 40px;
  position: relative;
  padding: 0px 10px;
  outline-color:#ffcb34;
  border: 1px solid lightgray;
  transition: all 0.5s;
}

.search-btn{
  width: 55px;
  height: 40px;
  position: absolute;
  border:0;
  outline: 0;
  background: #ffcb34 url(../img/search.png) no-repeat;
  background-position: 15px 50%;
}

.table-sort{
  padding-top: 15px;
  text-align: center;
}

.table-sort ul li{
  display: inline-block;
  margin-right: 70px;
}

.table-sort ul li:last-child{
  margin-right: 0px;
}

.table-sort ul li a{
  list-style: none;
  text-decoration: none;
  color: lightgray;
}

.table-sort ul li a:active{
  color: #ffcb34;
}

.showsale{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.showsale input{
  height: 30px;
  border: 0;
  background: #ffcb34;
  color: #333;
  padding: 0px 10px;
  border-radius: 5px;
  outline: 0;
}


.item-head{
  font-size: 16px;
  font-weight: lighter;
  padding-top: 15px;
}

.footer-text ul li{
  display: block;
  list-style: none;
}

.foo-list ul li{
  line-height: 25px;
}

.foo-list ul li a{
  color: lightgray;
  transition: all 0.5s;
  text-decoration: none;
}

.foo-list ul li a:hover{
  color: #fff;
  transition: all 0.5s;
}

.foo-list hr{
  margin-top:5px;
  margin-bottom: 5px;
  color: gray;
  opacity: 0.3;
}

footer{
    width: 100%;
    height: 180px;
    float:inherit;
    background: #343434;
    clear: both;
    color: aliceblue;
}

.footer-text {
    margin: 0px auto;
    max-width: 970px;
    text-align: left;
    color: aliceblue;
    padding-top: 10px;
}


.top-txt-bar{
  opacity: 0.9;
  margin-top: 15px;
  padding-left: 15px;
}

.content{
  border: 1px solid gray;
  border-radius: 15px;
  padding: 7px 7px;
}

.images{
  padding-bottom: 25px;
}

.images img{
  width:650px;
  border-radius: 25px;
  padding-left: 15px;
}

.main-block h3{
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
  opacity: 0.8;
  font-weight: bold;
  padding-left: 15px;
}

.information h4{
  font-size: 27px;
  font-weight: bold;
  margin-top: 25px;
}

.information h1{
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6;
}

.information>hr{
  width: 200px;
  color: gray;
}

.information p{
  font-size: 12px;
  opacity: 0.8;
}

.information span{
  font-weight: bold;
}

.information input{
  width: 120px;
  height: 35px;
  border: 0;
  outline: 0;
  background: #ffdd2e;
  border-radius: 7px;
}

.fa-clock{
  font-size: 36px;
}

.time{
  opacity: 0.5;
}

.time span{
  font-size: 24px;
  position: relative;
  bottom: 5px;
  margin-left: 5px;
}

.tab_content{
  width: 100%;
}

.tabs{
  font-size: 14px;
  cursor: pointer;
  color: #333;
  text-align: left;
  transition: all 0.7s;
  padding: 20px 15px;
}

.tab{
  padding: 7px 7px;
  margin-right: 25px;
  transition: all 0.5s;
}

.tab:last-child{
  margin-right: 0px;
}

.active-tab{
  color: #fff;
  background: #ffc600;
  transition: all 0.5s;
  border-radius: 15px;
}

.right-block{
  padding-bottom: 15px;
}

.map{
  padding-bottom: 15px;
}

.main-txt{
  display: block;
  text-align: left;
}

.main-txt h1{
  font-size: 18px;
}

.certificate span{
  font-size: 18px;
}

.certificate h5{
  font-weight: bold;
}

.certificate h3{
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  opacity: 0.8;
}

.certificate a{
  padding-top: 15px;
  padding-bottom: 15px;
}
